.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.env
.idea
__pycache__